  
:root {
  font-size: 14px;
}

body {
  background-color: rgb(216, 216, 216);
  line-height: 1.5;
  margin: 10px auto;
  max-width: 1200px;
}

.download-link {
  float: right;
  border: none;
  font-family: "Source Serif Pro", "Cambria", "Charter", "Georgia", sans-serif;
  font-size: 1.5rem;
  box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  position: sticky;
  top: 10px;
  background-color: white;
  color: hsl(0, 0%, 20%);
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in;
  width: 8.25in;
  height: 11.75in;
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  font-family: "Source Serif Pro", "Cambria", "Charter", "Georgia", sans-serif;
  color: hsl(0, 0%, 20%);
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 12px;
}

.contact-info {
  display: flex;
  color: hsl(0, 0%, 40%);
  font-size: 1.25rem;
}

.contact-info span::after {
  content: "|";
  margin: 0 4px;
}

.contact-info span:last-child::after {
  content: none;
}

.content-section {
  margin-top: 1.75rem;

}

.rightt{
	margin-left: 10%;
	
	
}

.inline_file{
	display: inline-flex;
}

.inline_file h2 {

	font-size: 1rem;
  text-transform: uppercase;
}
.content-section h1 {
  font-size: 1rem;
  text-transform: uppercase;
}

.content-section p {
  color: #434343;
}

.multicolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience-container h2 {
  font-weight: normal;
  font-size: 1rem;
}

.heavy-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

@media print {
  html {
    height: 11.75in;
    width: 8.25in;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  main {
    width: 100%;
    box-shadow: none;
  }

  button {
    display: none;
  }

  .download-link {
    display: none;
  }
	
}